@model IEnumerable<Blog_App.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Blogs</h1>




@foreach (var item in Model) {
    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
    <br />

    <p>@Html.DisplayFor(modelItem => item.Content)</p>
    <br />

    <p> @Html.DisplayFor(modelItem => item.Author)</p>
    <br />

                <a asp-action="Edit" asp-route-id="@item.Id">Edit - </a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details - </a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        
 
}
    </tbody>
</table>
